.containerLogin {
    width: clamp(100%, 100%, 100%);
    height: clamp(100%, 100%, 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.containerLogoAndInputs {
    width: 80vw;
    height: 75vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.boxImg {
    width: 70vw;
    height: 35vw;
}

.boxImg img {
    width: clamp(100%, 100%, 100%);
    height: clamp(100%, 100%, 100%);
    object-fit: contain;
}

.boxFormLogin {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}

.boxFormLogin > * {
    margin: 10px 0;
}

.boxImgBackground {
    width: clamp(100%, 100%, 100%);
    height: clamp(100%, 100%, 100%);
    position: absolute;
    z-index: -1;
}

.boxImgBackground img {
    width: clamp(100%, 100%, 100%);
    height: clamp(100%, 100%, 100%);
    object-fit: cover;
}