.btnSubmit {
    width: 100%;
    height: 50px;
    border: none;
    color: var(--corSecundaria);
    background-color: var(--corPrimaria);
    border-radius: var(--borderRadiusDefault);
    opacity: .7;
}