:root {
    --corPrimaria: #0B305C;
    --corSecundaria: #EB6C10;
    --corTexto: #fff;
    --corIcone: ##ccc;
    --corBackgroundPage: #c0bdbd;
    --corBackgroundHeader: #FFF;
    --borderRadiusDefault: 15px;
    }

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
    background-color:var(--corBackgroundPage);
}